.container {
    position: absolute;
    right: 87px;
    top: 40px;
    display: flex;
    gap: 40px;
}

.item {
    color: #ACB7D1;
    cursor: pointer;
}

.item:hover {
    color: #7D8AA8;
}

.item__active {
    color: #5090E5;
}
